# Virtual environment
venv/
.venv/
env/

# Python Cache
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/

# Environment configurations
.env

# System files
.DS_Store
Thumbs.db

# IDE settings
.vscode/
.idea/

# Local database, logs, and vector store indices
project/logs/*.log
project/logs/*.db
project/vector_store/*.faiss
project/vector_store/*.pkl
